﻿<!-- Author Jean-Francois Gamache & Samir El Haddaji-->
@model Locaux

<h1 class="text-white text-center">Ajouter un nouveau local</h1>

<div class="row text-white m-4">
    <form asp-controller="Local" asp-action="Ajouter" method="post">
    <div class="pb-2 form-group">
        <label asp-for="No_local" class="form-label">Numéro de local</label>
        <input asp-for="No_local" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le numéro du local">
            <span asp-validation-for="No_local" class="text-danger"></span>
    </div>

    <div class="pb-3">
        <label asp-for="Capacite" class="form-label">Capacité</label>
        <input asp-for="Capacite" class="form-control" type="number" min="10" max="125" placeholder="Veuillez entrer la capacité du local">
        <span asp-validation-for="Capacite" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    <a asp-action="Liste" asp-controller="Local" class="btn btn-secondary pt-2">Annuler</a>
    </form>
    @section JQueryValidationScripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>