﻿<!--Autheur: Samir et JeanFrancois-->
@using Microsoft.AspNetCore.Identity

@model Locaux

    <div class="flex-cl justify-content-center text-white">
        <h1 class="h1 m-2">@Model.No_local</h1>
        <ul class="">
            <li><b class="pl-3">ID:</b> @Model.Id</li>
            <li><b class="pl-3">Numéro du local:</b> @Model.No_local</li>
            <li><b class="pl-3">Capacité:</b> @Model.Capacite</li>

        </ul>
    </div> 

    <!-- Si l'utilisateur est un admin  -->
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Modifier" asp-controller="Local" asp-route-id="@Model.Id" class="btn btn-primary m-2">Modifier</a>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmation-delete">
            Supprimer
        </button>
        <div class="modal fade" id="confirmation-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h5" id="exampleModalLabel">Supprimer @Model.No_local</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce local?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a asp-action="Supprimer" asp-controller="Local" asp-route-id="@Model.Id" class="btn btn-danger">Supprimer le local</a>
                </div>
            </div>
        </div>
    </div>
    }

    <div>
    <a asp-action="Liste" asp-controller="Local" class="btn btn-secondary m-2">Retour liste des locaux</a>
    </div>

<!-- TODO: Afficher message de confirmation-->