﻿@using Microsoft.AspNetCore.Identity

@model List<Locaux>
 
<h1 class="text-center text-white">@ViewData["Title"]</h1>
<div class="text-center d-grid gap-2 col-6 mx-auto">

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Ajouter" asp-controller="Local" class="btn btn-success btn-lg btn-block">Ajouter</a>
    }
</div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    @foreach (var local in Model){
        <div class="col">
            <div class="card h-100 border-white" style="background-color:darkslateblue;">
                <div class="card-body d-flex flex-column mt-auto text-white">
                    <h1 class="card-title h5 text-center">Local: @local.No_local</h1>
                    <p class=""><b>Capacité:</b> @local.Capacite</p>
                    <div class="d-grid gap-2">
                        <a asp-action="details" asp-controller="Local" asp-route-id="@local.Id" class="btn btn-outline-light stretched-link">Voir les détails</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>
    