﻿<!-- Samir et Jeanfrancois -->
<!-- Source: Table pris des notes de cours -->
@model PanierViewModel
@{
    decimal montantTotal = 0;
}

<h1 class="text-white text-center">Inscription au cours</h1>

@if (Model.ListeCours.Any())
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Nom du cours</th>
                <th>Code du cours</th>
                <th>Prix</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListeCours)
            {
                montantTotal += item.Prix;
                <tr>
                    <td>@item.Nom</td>
                    <td>@item.Code</td>
                    <td>@item.Prix</td>
                    <td>
                        <a asp-controller="Inscription" asp-action="SupprimerDuPanier" asp-route-coursId="@item.Id" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="my-3 text-white">
        <strong>Montant total des Cours: </strong>@montantTotal $
    </div>

    <a asp-controller="Inscription" asp-action="ViderPanier" class="btn btn-warning">Vider les inscriptions du cours</a>
}
else
{
    <div class="alert alert-info" role="alert">
        Vous n'êtes pas inscrit à aucun cours!
    </div>
}