﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row">
   <div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <h2 class="mb-2 text-white">Connexion</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="text-white" for="Email">Adresse email</label>
                    <input asp-for="Input.Email" type="email" class="form-control" id="Email" placeholder="Entrez votre adresse email">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group mt-1 mb-3">
                    <label asp-for="Input.Password" class="text-white" for="Password">Mot de passe</label>
                    <input asp-for="Input.Password" type="password" class="form-control" id="Password" placeholder="Entrez votre mot de passe">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label text-white">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

             <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
   

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
