﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <h2 class="mb-2 text-white">Inscription</h2>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="align-items-md-center text-white">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Entrez votre adresse email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Entrez votre mot de passe" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Entrez votre mot de passe"/>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>

    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
