﻿<!-- Author Jean-Francois Gamache & Samir El Haddaji-->
@model Cours

<h1 class="text-white text-center">Ajouter un nouveau cours</h1>

<div class="row text-white m-4">
    <form asp-controller="Cours" asp-action="Ajouter" method="post">
    <div class="pb-2 form-group">
        <label asp-for="Code" class="form-label">Code</label>
        <input asp-for="Code" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le code du cours">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="pb-3">
        <label asp-for="Nom" class="form-label">Nom</label>
        <input asp-for="Nom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le nom du cours">
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="pb-3">
        <label asp-for="Ponderation" class="form-label">Ponderation</label>
        <input asp-for="Ponderation" class="form-control" type="text" minlength="2" maxlength="6" placeholder="Veuillez entrer la ponderation du cours">
            <span asp-validation-for="Ponderation" class="text-danger"></span>
    </div>

    <div class="pb-3">
        <label asp-for="Bloc" class="form-label">Bloc</label>
        <input asp-for="Bloc" class="form-control" type="text" minlength="1" maxlength="5" placeholder="Veuillez entrer le bloc du cours">
            <span asp-validation-for="Bloc" class="text-danger"></span>
    </div>

    <div class="pb-3">
        <label asp-for="Prix" class="form-label">Prix</label>
        <input asp-for="Prix" class="form-control" type="number" min="5" max="360" placeholder="Veuillez entrer le prix du cours">
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

        <div class="pb-3">
            <label asp-for="LocalId" class="form-label">Sélectionner le local</label>
            <div class="col-sm-10">
                <select asp-for="LocalId" asp-items="@ViewBag.Locaux" class="form-select"></select>
            </div>
        </div>

    <div class="pb-3">
        <label asp-for="EnseignantId" class="form-label">Sélectionner l'enseignant</label>
        <div class="col-sm-10">
            <select asp-for="EnseignantId" asp-items=@ViewBag.Enseignants class="form-select"></select>
        </div>
    </div>

    <input asp-for="ListeClientsJson" value="w" type="hidden" />

    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    <a asp-action="Liste" asp-controller="Cours" class="btn btn-secondary pt-2">Annuler</a>
    </form>
    @section JQueryValidationScripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>