﻿<!--Autheur: JeanFrancois-->
@using Microsoft.AspNetCore.Identity

@model (Cours, List<Clients>)

    <h1 class="h1 m-2 text-center text-white">@Model.Item1.Nom</h1>

    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">ID:</div>
            </div>
            <p class="text-dark my-auto text-center">@Model.Item1.Id</p>
        </li>
    </ul>

    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">Code:</div>
            </div>
            <p class="text-dark my-auto text-center">@Model.Item1.Code</p>
        </li>
    </ul>

    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">Ponderation:</div>
            </div>
            <p class="text-dark my-auto text-center">@Model.Item1.Ponderation</p>
        </li>
    </ul>
    
    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">Bloc:</div>
            </div>
            <p class="text-dark my-auto text-center">@Model.Item1.Bloc</p>
        </li>
    </ul>

    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">Prix:</div>
            </div>
            <p class="text-dark my-auto text-center">@Model.Item1.Prix$</p>
        </li>
    </ul>   

    <ul class="list-group mt-1">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <div class="fw-bold">Enseignant:</div>
            </div>
            <p class="text-dark my-auto">@Model.Item1.Enseignant.Prenom @Model.Item1.Enseignant.Nom</p>
        </li>
    </ul>   
  
    <ul class="list-group mt-1">
    <li class="list-group-item list-group-item-dark">
            <div>
                <div class="fw-bold text-center">Liste des étudiants inscrit:</div>
                <ul>
                     @foreach(var etu in Model.Item2)
                    {
                        <li>@etu.Prenom @etu.Nom</li>
                    }
                </ul>
            </div>
        </li>
    </ul>   


    <!-- Si l'utilisateur est un admin  -->
    @if (User.IsInRole("Admin"))
    {
    <div class="d-flex justify-content-center">
    <a asp-action="Modifier" asp-controller="Cours" asp-route-id="@Model.Item1.Id" class="btn btn-primary m-2">Modifier</a>
        <button type="button" class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#confirmation-delete">
            Supprimer
        </button>
    </div>

    <div class="modal fade" id="confirmation-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title h5" id="exampleModalLabel">Supprimer @Model.Item1.Nom</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce cours?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <a asp-action="Supprimer" asp-controller="Cours" asp-route-id="@Model.Item1.Id" class="btn btn-danger">Supprimer le cours</a>
                </div>
            </div>
        </div>
    </div>
    }

    <div class="d-flex justify-content-center">
        <a asp-action="Liste" asp-controller="Cours" class="btn btn-secondary m-2">Retour liste des cours</a>
    </div>

<!-- TODO: Afficher message de confirmation-->
