﻿@using Microsoft.AspNetCore.Identity

@model List<Cours>


<h1 class="text-center text-white">@ViewData["Title"]</h1>
<div class="text-center d-grid gap-2 col-6 mx-auto">

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Ajouter" asp-controller="Cours" class="btn btn-success btn-lg btn-block">Ajouter</a>
    }
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    @foreach (var cours in Model){
        <div class="col">
            <div class="card h-100 border-white" style="background-color:darkslateblue;">
                <div class="card-body d-flex flex-column mt-auto text-white">
                    <h1 class="card-title h5 text-center"> @cours.Nom</h1>
                    <p class="mb-0"><b>Code:</b> @cours.Code</p>
                    <p class=""><b>Enseignant:</b> @cours.Enseignant.Prenom @cours.Enseignant.Nom</p>
                    <div class="d-grid gap-2">
                        <a asp-action="details" asp-controller="Cours" asp-route-id="@cours.Id" class="btn btn-outline-light">Voir les détails</a>
                        <a asp-controller="Inscription" asp-action="AjouterAuPanier" asp-route-coursId="@cours.Id" class="btn btn-success">S'inscrire au cour</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>
    