﻿<!-- Author Jean-Francois Gamache -->
@model Cours



<h1 class="text-white text-center">Modifier le cours</h1>

<div class="row text-white m-4">
    <form asp-controller="Cours" asp-action="Modifier" method="post">
        <input asp-for="Id" value="@Model.Id" type=hidden />
    <div class="pb-2 form-group">
            <label asp-for="Code" class="form-label">Code</label>
            <input asp-for="Code" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le code du cours" value="@Model.Code">
            <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Nom" class="form-label">Nom</label>
            <input asp-for="Nom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le nom du cours" value="@Model.Nom">
            <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Ponderation" class="form-label">Ponderation</label>
            <input asp-for="Ponderation" class="form-control" type="text" minlength="2" maxlength="6" placeholder="Veuillez entrer la ponderation du cours" value="@Model.Ponderation">
            <span asp-validation-for="Ponderation" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Bloc" class="form-label">Bloc</label>
            <input asp-for="Bloc" class="form-control" type="text" minlength="1" maxlength="5" placeholder="Veuillez entrer le bloc du cours" value="@Model.Bloc">
            <span asp-validation-for="Bloc" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Prix" class="form-label">Prix</label>
            <input asp-for="Prix" class="form-control" type="number" min="5" max="360" placeholder="Veuillez entrer le prix du cours" value="@((int)Model.Prix)">
            <span asp-validation-for="Prix" class="text-danger"></span>
        </div>

    <div class="pb-3">
            <label asp-for="LocalId" class="form-label">Sélectionner le local</label>
        <div class="col-sm-10">
                <select asp-for="LocalId" asp-items="ViewBag.Locaux" class="form-select">
                <option value="1">­@Model.Local.No_local</option>
            </select>
        </div>
    </div>

    <div class="pb-3">
            <label asp-for="EnseignantId" class="form-label">Sélectionner l'enseignant</label>
        <div class="col-sm-10">
                <select asp-for="EnseignantId" asp-items="ViewBag.Enseignants" class="form-select">
                <option value="1">@Model.Enseignant.Prenom @Model.Enseignant.Nom</option>
            </select>
        </div>
    </div>

    <input asp-for="ListeClientsJson" value="@ViewBag.ListeClients" type="hidden" />

    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    <a asp-action="Liste" asp-controller="Cours" class="btn btn-secondary pt-2">Annuler</a>
    </form>
    @section JQueryValidationScripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>