﻿@using GestionHoraire.ViewModels;

@model ErreurViewModel

<div class="alert alert-danger">
    <h1>Erreur @Model.CodeErreur</h1>
    <p>Message d'erreur: @Model.MessagePersonnalise</p>
    <a asp-controller="Accueil" asp-action="Index">Retour à la page d'acceuil</a>
</div>

<hr />

@if(Model.ModeDev){
    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr />
        <p>
            @Model.CheminException
        </p>
    </div>

    <div class="alert alert-danger">
        <h5>Exception message</h5>
        <hr />
        <p>
            @Model.MessageException
        </p>
    </div>

    <div class="alert alert-danger">
        <h5>Exception Stack Trace</h5>
        <hr />
        <p>
            @Model.TraceException
        </p>
    </div>
}
