﻿@using Microsoft.AspNetCore.Identity

@model List<Enseignants>

<h1 class="text-center text-white">@ViewData["Title"]</h1>
<div class="text-center d-grid gap-2 col-6 mx-auto">

    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Ajouter" asp-controller="Enseignant" class="btn btn-success btn-lg btn-block">Ajouter</a>
    }
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
    @foreach (var enseignant in Model){
        <div class="col">
            <div class="card h-100 border-white" style="background-color:darkslateblue;">
                <div class="card-body d-flex flex-column mt-auto text-white">
                    <h1 class="card-title h5 text-center"> @enseignant.Prenom @enseignant.Nom</h1>
                    <p class="mb-0"><b>Poste:</b> @enseignant.Poste</p>
                    <p class=""><b>Bureau:</b> @enseignant.Bureau</p>
                    <div class="d-grid gap-1">
                        <a asp-action="Details" asp-controller="Enseignant" asp-route-id="@enseignant.Id" class="btn btn-outline-light stretched-link">Voir les informations</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>
    