﻿<!-- Author Samir El  -->
@model Enseignants


<h1 class="text-white text-center">Modifier l'enseignants</h1>

<div class="row text-white m-4">
    <form asp-controller="Enseignant" asp-action="Modifier" method="post">
        <input asp-for="Id" value="@Model.Id" type=hidden />
    <div class="pb-2 form-group">
            <label asp-for="Prenom" class="form-label">Prenom</label>
            <input asp-for="Prenom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le prenom de l'enseignant" value="@Model.Prenom">
            <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Nom" class="form-label">Nom</label>
            <input asp-for="Nom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer le nom de l'enseignant" value="@Model.Nom">
            <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Bureau" class="form-label">Bureau</label>
            <input asp-for="Bureau" class="form-control" type="text" minlength="5" maxlength="7" placeholder="Veuillez entrer le bureau de l'enseignant" value="@Model.Bureau">
            <span asp-validation-for="Bureau" class="text-danger"></span>
    </div>

    <div class="pb-3">
            <label asp-for="Poste" class="form-label">Poste</label>
            <input asp-for="Poste" class="form-control" type="text" minlength="1" maxlength="5" placeholder="Veuillez entrer le poste de l'enseignant" value="@Model.Poste">
            <span asp-validation-for="Poste" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    <a asp-action="Liste" asp-controller="Enseignant" class="btn btn-secondary pt-2">Annuler</a>
    </form>
    @section JQueryValidationScripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>