﻿<!-- Autheur Samir et JeanFrancois -->
@{
    ViewData["Title"] = "Acceuil";
}

<div class="text-center">
    <h1 class="display-4 text-white">Bienvenu dans notre site de gestion d'horaire!</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="text-white">Veuillez vous connecter pour avoir accès aux fonctionnalités du site.</p>

        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success mb-2" style="margin-right: 6px;">Connexion</a>
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-2">Inscription</a>
    }
    else
    {
        <p class="text-white">Accédez à votre inscription de cours.</p>
        <a asp-action="Index" asp-controller="Inscription" class="btn btn-primary mb-2">Inscription</a>
        <p class="text-white">Items dans le panier: @ViewBag.Compteur</p>
    }

    <div class="flex align-items-center mt-3">
        <img src="~/lib/images/cegep-fond.jpg" width="90%" alt="Logo du cégep de l'outaouais.">
    </div>
</div>