﻿<!-- Author: Samir El Haddaji et Jean-Francois Gamache -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionHoraire</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body style="background-color:#242424f5;">
    <header>
        <!-- Navigation -->
        <div class="pos-f-t"><!-- Source hamburger: https://getbootstrap.com/docs/4.1/components/navbar/ -->

            <div class="collapse" id="navbarToggleExternalContent">
            </div>
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkslateblue;">
                <div class="container-fluid">
                    <!-- Logo -->
                    <div class="d-flex align-items-center">
                        <a asp-controller="Accueil" asp-action="Index">
                            <img class="mx-auto" src="~/lib/images/logo_cegep.png" width="50%" alt="Logo du cégep de l'outaouais.">
                        </a>
                    </div>

                    <!-- Boutton hamburger -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Liens de navigations -->
                    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                        <ul class="navbar-nav mr-auto my-auto">
                            <li class="nav-item m-1">
                                <a asp-controller="Inscription" asp-action="Index" class="btn btn-outline-light">
                                    Inscription cours
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a asp-controller="Cours" asp-action="Liste" class="btn btn-outline-light">
                                    Cours
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a asp-controller="Local" asp-action="Liste" class="btn btn-outline-light">
                                    Locaux
                                </a>
                            </li>
                            <li class="nav-item m-1">
                                <a asp-controller="Enseignant" asp-action="Liste" class="btn btn-outline-light">
                                    Enseignants
                                </a>
                            </li>

                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3 mt-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container my-2 mx-1">
            &copy; 2023 - GestionHoraire - Créé par <u>Samir El Haddaji</u> et <u>Jean-François Gamache</u>
        </div>
    </footer>
    <!-- Scripts: Hamburger et autre -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("JQueryValidationScripts", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
