﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="m-1 nav-item">
        <a id="manage" class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profil</a>
    </li>
    <li class="m-1 nav-item">
        <form id="logoutForm" class="form-inline text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Accueil", new { area = "" })">
            <button id="logout" type="submit"  class="btn btn-outline-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="m-1 nav-item">
        <a class="btn btn-outline-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="m-1 nav-item">
        <a class="btn btn-outline-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}