﻿@{
    var userId = TempData["UserId"];
}

@using GestionHoraire.Models
@model Clients

<h1 class="text-white text-center">Veuillez entrer des informations supplémentaires</h1>


<div class="row text-white m-4">
    <form asp-controller="Client" asp-action="Ajouter" method="post">

        <div class="pb-3">
            <label asp-for="UserID" class="form-label">Id de l'usager</label>
            <input asp-for="UserID" class="form-control" type="text" value="@userId" readonly>
        </div>

        <div class="pb-3">
            <label asp-for="Prenom" class="form-label">Prenom</label>
            <input asp-for="Prenom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer votre prenom">
            <span asp-validation-for="Prenom" class="text-danger"></span>
        </div>

        <div class="pb-3">
            <label asp-for="Nom" class="form-label">Nom</label>
            <input asp-for="Nom" class="form-control" type="text" minlength="4" maxlength="50" placeholder="Veuillez entrer votre nom">
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
    </form>
    @section JQueryValidationScripts {
        <partial name="_ValidationScriptsPartial" />
    }
 </div>